
  @import url('https://fonts.googleapis.com/css?family=Parisienne');
  #text{
      font-family: Parisienne, cursive;
      text-align: center;
      font-size: 35px;
      color: rgb(0, 255, 255);
      background-color: rgb(84, 84, 84);
      text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  }
  